<section
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="-60px"
  class="current-training"
>
  <mat-progress-spinner
    mode="determinate"
    [value]="progress"
    diameter="150"
    strokeWidth="3"
  >
  </mat-progress-spinner>
  <div class="spinner-value">
    <p>{{ progress + "%" }}</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <p>You can do it!</p>
    <button mat-raised-button color="accent" (click)="onStop()">Stop</button>
  </div>
</section>
